### Importing Spark Session

In [1]:
from pyspark.sql import SparkSession

### Creating Spark Session

In [2]:
spark = SparkSession.builder \
    .appName("MyProject") \
    .getOrCreate()

### Initializing a SparkSession with configurations

In [3]:
spark = SparkSession.builder \
    .appName("CSVtoMongoDB") \
    .config("spark.mongodb.output.uri", "mongodb://localhost:27017/flights.cleaned") \
    .config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1") \
    .config("spark.hadoop.fs.AbstractFileSystem.s3a.impl", "org.apache.hadoop.fs.LocalFileSystem") \
    .config("spark.sql.catalogImplementation", "in-memory") \
    .getOrCreate()

### Reading Data using Spark

In [4]:
file_paths = {
    2009: "C:/Users/msrih/Downloads/UMBC CLASSES/603/Data Sets/2009.csv",
    2010: "C:/Users/msrih/Downloads/UMBC CLASSES/603/Data Sets/2010.csv",
    2011: "C:/Users/msrih/Downloads/UMBC CLASSES/603/Data Sets/2011.csv",
    2012: "C:/Users/msrih/Downloads/UMBC CLASSES/603/Data Sets/2012.csv",
    2013: "C:/Users/msrih/Downloads/UMBC CLASSES/603/Data Sets/2013.csv",
    2014: "C:/Users/msrih/Downloads/UMBC CLASSES/603/Data Sets/2014.csv",
    2015: "C:/Users/msrih/Downloads/UMBC CLASSES/603/Data Sets/2015.csv",
    2016: "C:/Users/msrih/Downloads/UMBC CLASSES/603/Data Sets/2016.csv",
    2017: "C:/Users/msrih/Downloads/UMBC CLASSES/603/Data Sets/2017.csv",
    2018: "C:/Users/msrih/Downloads/UMBC CLASSES/603/Data Sets/2018.csv"
}

dfs = {}  # Dictionary to store DataFrames for each year

for year, file_path in file_paths.items():
    dfs[year] = spark.read.csv(file_path, header=True, inferSchema=True)

In [5]:
dfs[2009].show(1, vertical=True)

-RECORD 0-------------------------
 FL_DATE             | 2009-01-01
 OP_CARRIER          | XE
 OP_CARRIER_FL_NUM   | 1204
 ORIGIN              | DCA
 DEST                | EWR
 CRS_DEP_TIME        | 1100
 DEP_TIME            | 1058.0
 DEP_DELAY           | -2.0
 TAXI_OUT            | 18.0
 WHEELS_OFF          | 1116.0
 WHEELS_ON           | 1158.0
 TAXI_IN             | 8.0
 CRS_ARR_TIME        | 1202
 ARR_TIME            | 1206.0
 ARR_DELAY           | 4.0
 CANCELLED           | 0.0
 CANCELLATION_CODE   | NULL
 DIVERTED            | 0.0
 CRS_ELAPSED_TIME    | 62.0
 ACTUAL_ELAPSED_TIME | 68.0
 AIR_TIME            | 42.0
 DISTANCE            | 199.0
 CARRIER_DELAY       | NULL
 WEATHER_DELAY       | NULL
 NAS_DELAY           | NULL
 SECURITY_DELAY      | NULL
 LATE_AIRCRAFT_DELAY | NULL
 Unnamed: 27         | NULL
only showing top 1 row

### Data Types

In [6]:
print("Data type of the loaded dataframes:")
for year, df in dfs.items():
    print(f'dfs[{year}]: {type(df)}')

Data type of the loaded dataframes:
dfs[2009]: <class 'pyspark.sql.dataframe.DataFrame'>
dfs[2010]: <class 'pyspark.sql.dataframe.DataFrame'>
dfs[2011]: <class 'pyspark.sql.dataframe.DataFrame'>
dfs[2012]: <class 'pyspark.sql.dataframe.DataFrame'>
dfs[2013]: <class 'pyspark.sql.dataframe.DataFrame'>
dfs[2014]: <class 'pyspark.sql.dataframe.DataFrame'>
dfs[2015]: <class 'pyspark.sql.dataframe.DataFrame'>
dfs[2016]: <class 'pyspark.sql.dataframe.DataFrame'>
dfs[2017]: <class 'pyspark.sql.dataframe.DataFrame'>
dfs[2018]: <class 'pyspark.sql.dataframe.DataFrame'>

## Merging all datasets int to One

In [7]:
from functools import reduce
from pyspark.sql import DataFrame

# List comprehension to extract DataFrame values from the dictionary
dfs_list = [dfs[year] for year in dfs]

# Concatenating all DataFrames into a single DataFrame
df = reduce(DataFrame.unionAll, dfs_list)

### Schema

In [8]:
#schema of df2008
df.printSchema()

root
 |-- FL_DATE: date (nullable = true)
 |-- OP_CARRIER: string (nullable = true)
 |-- OP_CARRIER_FL_NUM: integer (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- CRS_DEP_TIME: double (nullable = true)
 |-- DEP_TIME: double (nullable = true)
 |-- DEP_DELAY: double (nullable = true)
 |-- TAXI_OUT: double (nullable = true)
 |-- WHEELS_OFF: double (nullable = true)
 |-- WHEELS_ON: double (nullable = true)
 |-- TAXI_IN: double (nullable = true)
 |-- CRS_ARR_TIME: double (nullable = true)
 |-- ARR_TIME: double (nullable = true)
 |-- ARR_DELAY: double (nullable = true)
 |-- CANCELLED: double (nullable = true)
 |-- CANCELLATION_CODE: string (nullable = true)
 |-- DIVERTED: double (nullable = true)
 |-- CRS_ELAPSED_TIME: double (nullable = true)
 |-- ACTUAL_ELAPSED_TIME: double (nullable = true)
 |-- AIR_TIME: double (nullable = true)
 |-- DISTANCE: double (nullable = true)
 |-- CARRIER_DELAY: double (nullable = true)
 |-- WEATHER_DELAY: double (nullable = true)
 |-- NAS_DELAY: double (nullable = true)
 |-- SECURITY_DELAY: double (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: double (nullable = true)
 |-- Unnamed: 27: string (nullable = true)

## EDA on DataFrame

In [9]:
df.count()

61556964

In [10]:
len(df.columns)

28

In [11]:
df.columns

['FL_DATE',
 'OP_CARRIER',
 'OP_CARRIER_FL_NUM',
 'ORIGIN',
 'DEST',
 'CRS_DEP_TIME',
 'DEP_TIME',
 'DEP_DELAY',
 'TAXI_OUT',
 'WHEELS_OFF',
 'WHEELS_ON',
 'TAXI_IN',
 'CRS_ARR_TIME',
 'ARR_TIME',
 'ARR_DELAY',
 'CANCELLED',
 'CANCELLATION_CODE',
 'DIVERTED',
 'CRS_ELAPSED_TIME',
 'ACTUAL_ELAPSED_TIME',
 'AIR_TIME',
 'DISTANCE',
 'CARRIER_DELAY',
 'WEATHER_DELAY',
 'NAS_DELAY',
 'SECURITY_DELAY',
 'LATE_AIRCRAFT_DELAY',
 'Unnamed: 27']

In [12]:
df.describe().show()

+-------+----------+-----------------+--------+--------+-----------------+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+------------------+-----------------+-------------------+-----------------+--------------------+-----------------+-------------------+------------------+-----------------+-----------------+------------------+------------------+-------------------+-------------------+-----------+
|summary|OP_CARRIER|OP_CARRIER_FL_NUM|  ORIGIN|    DEST|     CRS_DEP_TIME|          DEP_TIME|        DEP_DELAY|          TAXI_OUT|        WHEELS_OFF|         WHEELS_ON|          TAXI_IN|      CRS_ARR_TIME|          ARR_TIME|        ARR_DELAY|          CANCELLED|CANCELLATION_CODE|            DIVERTED| CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|          AIR_TIME|         DISTANCE|    CARRIER_DELAY|     WEATHER_DELAY|         NAS_DELAY|     SECURITY_DELAY|LATE_AIRCRAFT_DELAY|Unnamed: 27|
+-------+----------+-----------------+--------+--------+-----------------+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+------------------+-----------------+-------------------+-----------------+--------------------+-----------------+-------------------+------------------+-----------------+-----------------+------------------+------------------+-------------------+-------------------+-----------+
|  count|  61556964|         61556964|61556964|61556964|         61556963|          60621241|         60616289|          60593063|          60593068|          60559948|         60559949|          61556962|          60559949|         60435613|           61556964|           973209|            61556964|         61556904|           60438210|          60438211|         61556964|         11390740|          11390740|          11390740|           11390740|           11390740|          0|
|   mean|      NULL|2300.241256959976|    NULL|    NULL| 1327.20258853576|  1333.14107175734|9.044878844364755|15.991963337453331| 1356.017720772944| 1473.756664123952|  7.1188165960972|1495.1468870734718|1479.3368845637567|4.700336323220549|0.01580989276859073|             NULL|0.002364590300457313| 136.956422987095|  132.8766195755963|109.77697422248319|786.6761085390762|17.82056020943328|2.6575914295296004|14.403737246219297|0.07852861183733453| 23.283611424718675|       NULL|
| stddev|      NULL|1886.557211293661|    NULL|    NULL|474.8935017000135|487.48778347075995|37.13742707634531| 9.311889675522803|488.83695927139553|511.51245075808424|5.304306349800353|495.78675041640867| 515.0970293525413|39.43740171003177| 0.1247394897857509|             NULL|0.048569528013874236|73.37060226293414|   72.8403347342299| 70.67954521240104|593.6700800158058|48.54477871808781|20.600631437679564|29.667233642897568| 2.3879021507066933|  42.74005368072106|       NULL|
|    min|        9E|                0|     ABE|     ABE|              1.0|               1.0|           -251.0|               0.0|               1.0|               1.0|              0.0|               1.0|               1.0|           -411.0|                0.0|                A|                 0.0|            -99.0|               11.0|               0.0|             11.0|              0.0|               0.0|               0.0|                0.0|                0.0|       NULL|
|    max|        YX|             9855|     YUM|     YUM|           2359.0|            2400.0|           2755.0|             458.0|            2400.0|            2400.0|            414.0|            2400.0|            2400.0|           2692.0|                1.0|                D|                 1.0|           1865.0|              799.0|             723.0|           4983.0|           2439.0|            2692.0|            1848.0|              987.0|             2454.0|       NULL|
+-------+----------+-----------------+--------+--------+-----------------+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+------------------+-----------------+-------------------+-----------------+--------------------+-----------------+-------------------+------------------+-----------------+-----------------+------------------+------------------+-------------------+-------------------+-----------+

In [ ]:
#Check for duplicates
print("Number of duplicate rows:", df.count() - df.dropDuplicates().count())

## Data Cleaning

#### Data Cleaning Process

In this section, we'll outline the steps taken to clean the dataset:

1. **Checking for Null Values:** We begin by examining the dataset for any missing values. This step is crucial as missing data can affect the analysis and modeling process.

2. **Removing Unnecessary Columns:** Next, we identify and remove any unnecessary columns that do not contribute to our analysis or modeling goals. This helps streamline the dataset and improve efficiency.

3. **Removing Null Values:** After identifying missing values, we proceed to handle them appropriately. Depending on the context, we may choose to drop rows or impute missing values using statistical measures.

4. **Rechecking for Null Values:** Finally, we perform a final check to ensure that all missing values have been successfully addressed. Ideally, after cleaning, the dataset should be free from any null values, ensuring the integrity of our analysis.

By following these steps, we ensure that our dataset is properly cleaned and prepared for further analysis or modeling tasks.

In [ ]:
#To check the number of null values
from pyspark.sql.functions import col, isnan, unix_timestamp, when, count

uniondf2 = df.select([
    count(when(
        col(c).contains('None') | col(c).contains('NULL') | (col(c) == 'NA') | col(c).isNull() | isnan(c),
        c)
    ).alias(c) if c != 'FL_DATE' else
    count(when(
        col(c).contains('None') | col(c).contains('NULL') | (col(c) == 'NA') | col(c).isNull() | isnan(unix_timestamp(c)),
        c)
    ).alias(c)
    for c in df.columns
])

uniondf2.show(vertical=True)

In [ ]:
df.printSchema()

In [ ]:
df.show(vertical=True)

#### Dropping Unnecesary Columns

In [ ]:
#Removing the unnecessary columns
cols = ('CANCELLATION_CODE', 'DIVERTED', 'CARRIER_DELAY', 'WEATHER_DELAY',
                                          'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY',
                                          'Unnamed: 27')

#Storing the new data into dataframe
df=df.drop(*cols)

#### Dropping Null Values

In [ ]:
#Dropping the null values
df= df.dropna()

In [ ]:
#re-checking data inconsistencies 
df.select([
    count(when(
        col(c).contains('None') | col(c).contains('NULL') | (col(c) == 'NA') | col(c).isNull() | isnan(c),
        c)
    ).alias(c) if c != 'FL_DATE' else
    count(when(
        col(c).contains('None') | col(c).contains('NULL') | (col(c) == 'NA') | col(c).isNull() | isnan(unix_timestamp(c)),
        c)
    ).alias(c)
    for c in df.columns
]).show(vertical=True)

In [ ]:
print(f"The shape is {df.count():d} rows by {len(df.columns):d} columns.")

In [ ]:
#Filtering the data based on the required locations
l = ['IAD','BWI','JFK','BOS','DEN','MIA','ORD','SLC','SEA','HOU','ORL','LAS','BNA','CVG','DTW','PIT','LAX','PHX','ATL','DFW','CLT']

In [ ]:
#Storing the filtered data into df
df = df.filter((df.ORIGIN).isin(l) & (df.DEST).isin(l))
df.show(vertical = True)